<table datatable class="row-border hover messages-table" style="width:100%">
  <thead>
  <tr>
    <th>Amount To Sell</th>
    <th>Amount To Buy</th>
    <th>Currency From</th>
    <th>Currency To</th>
    <th>Rate</th>
    <th>Time Placed</th>
    <th>Transaction Origin</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let messsage of messages">
      <td>{{messsage.amountSell}}</td>
      <td>{{messsage.amountBuy}}</td>
      <td>{{messsage.currencyFrom}}</td>
      <td>{{messsage.currencyTo}}</td>
      <td>{{messsage.rate}}</td>
      <td>{{messsage.timePlaced}}</td>
      <td>{{messsage.originatingCountry}}</td>
    </tr>
  </tbody>
</table>
