
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

	<mvc:annotation-driven />
	<context:component-scan base-package="com.anthony.messaging.rest" />
	<context:component-scan base-package="com.spring.series.jdbc.dao.impl" />


	<bean id="corsFilter" name="corsFilter" class="com.anthony.messaging.rest.CorsFilter" />

	<bean id="placeholderConfig"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_FALLBACK" />
		<property name="location" value="/WEB-INF/messaging-ws.properties" />
	</bean>


	<bean id="namedParameterJdbcTemplate"
		class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
		<constructor-arg ref="messageDataSource"/>
	</bean>
	
	<bean id="messageDataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${message.database.driver}" />
		<property name="url" value="${message.database.url}" />
		<property name="username" value="${message.database.username}" />
		<property name="password" value="${message.database.password}" />
	</bean>



</beans>
